<p id="notice"><%= notice %></p>

<h1>Listing Soil Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soil_types.each do |soil_type| %>
      <tr>
        <td><%= soil_type.name %></td>
        <td><%= link_to 'Show', soil_type %></td>
        <td><%= link_to 'Edit', edit_soil_type_path(soil_type) %></td>
        <td><%= link_to 'Destroy', soil_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soil type', new_soil_type_path %>
