<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @air_moisture.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @air_moisture.max %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @air_moisture.disease %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @air_moisture.cf %>
</p>

<%= link_to 'Edit', edit_air_moisture_path(@air_moisture) %> |
<%= link_to 'Back', air_moistures_path %>
