<p id="notice"><%= notice %></p>



<div class="contents-container">
<h1>ข่าว</h1>
  <% @contents.each do |content| %>
    <div class="content-container">
      <div class="content-header">
        <h4>
          <a href="<%= content_path(content) %>">
            <%= content.title %>
          </a>
        </h4>
      </div>
    <div class="content-body">
      <div class="content-img">
        <a href="<%= content_path(content) %>">

          <%= image_tag content.content_images.first.image.url(:thumb) unless content.content_images.empty? %>
        </a>
      </div>
        <p>
          <%= content.body[0..40] + "... " %>
        </p>
        <% if content.body.to_i > 40 %>
        <p>
          <%= content.body[40..60] + "... " %>
        </p>
        <% end %>
    </div>
    </div>
  <% end %>
</div>

