<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @content.body %>
</p>

<p>
  <strong>Content images:</strong>
  <%= @content.content_images %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @content.content_type %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
