<p id="notice"><%= notice %></p>

<h1>Listing Soil Type Certainty Factors</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Soil type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soil_type_certainty_factors.each do |soil_type_certainty_factor| %>
      <tr>
        <td><%= soil_type_certainty_factor.disease %></td>
        <td><%= soil_type_certainty_factor.soil_type %></td>
        <td><%= link_to 'Show', soil_type_certainty_factor %></td>
        <td><%= link_to 'Edit', edit_soil_type_certainty_factor_path(soil_type_certainty_factor) %></td>
        <td><%= link_to 'Destroy', soil_type_certainty_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soil type certainty factor', new_soil_type_certainty_factor_path %>
