<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @stage_certainty_factor.cf %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @stage_certainty_factor.stage %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @stage_certainty_factor.disease %>
</p>

<%= link_to 'Edit', edit_stage_certainty_factor_path(@stage_certainty_factor) %> |
<%= link_to 'Back', stage_certainty_factors_path %>
