<p id="notice"><%= notice %></p>

<p>
  <strong>Disease:</strong>
  <%= @plantation_certainty_factor.disease %>
</p>

<p>
  <strong>Plantation:</strong>
  <%= @plantation_certainty_factor.plantation %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @plantation_certainty_factor.cf %>
</p>

<%= link_to 'Edit', edit_plantation_certainty_factor_path(@plantation_certainty_factor) %> |
<%= link_to 'Back', plantation_certainty_factors_path %>
