<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @region_certainty_factor.region %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @region_certainty_factor.disease %>
</p>

<%= link_to 'Edit', edit_region_certainty_factor_path(@region_certainty_factor) %> |
<%= link_to 'Back', region_certainty_factors_path %>
