<p id="notice"><%= notice %></p>

<h1>Listing Phosphorus</h1>

<table>
  <thead>
    <tr>
      <th>Min</th>
      <th>Max</th>
      <th>Stage</th>
      <th>Disease</th>
      <th>Cf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phosphorus.each do |phosphoru| %>
      <tr>
        <td><%= phosphoru.min %></td>
        <td><%= phosphoru.max %></td>
        <td><%= phosphoru.stage %></td>
        <td><%= phosphoru.disease %></td>
        <td><%= phosphoru.cf %></td>
        <td><%= link_to 'Show', phosphoru %></td>
        <td><%= link_to 'Edit', edit_phosphoru_path(phosphoru) %></td>
        <td><%= link_to 'Destroy', phosphoru, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phosphoru', new_phosphoru_path %>
