<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @phosphoru.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @phosphoru.max %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @phosphoru.stage %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @phosphoru.disease %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @phosphoru.cf %>
</p>

<%= link_to 'Edit', edit_phosphoru_path(@phosphoru) %> |
<%= link_to 'Back', phosphorus_path %>
