<p id="notice"><%= notice %></p>

<h1>Listing Disease Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Disease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disease_names.each do |disease_name| %>
      <tr>
        <td><%= disease_name.name %></td>
        <td><%= disease_name.disease %></td>
        <td><%= link_to 'Show', disease_name %></td>
        <td><%= link_to 'Edit', edit_disease_name_path(disease_name) %></td>
        <td><%= link_to 'Destroy', disease_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disease name', new_disease_name_path %>
