<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disease_id %><br>
    <%= collection_select :notification, :disease_id, @diseases, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :cf %><br>
    <%= f.text_field :cf %>
  </div>
  <div class="field">
    <%= f.label :cultivated_area_id %><br>
    <%= collection_select :notification, :cultivated_area_id, @cultivated_areas, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
