<p id="notice"><%= notice %></p>
<div class="noti-index">
  <h1>การแจ้งเตือนทั้งหมด</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="">หัวข้อ</th>
        <th>Cf</th>
        <th>Disease</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <tr data-link="<%= 'notifications/' + notification.id.to_s %>">

          <td class="col-xs-3"><%= notification.user_id %></td>
          <td class="col-xs-3"><%= notification.cf %></td>
          <td class="col-xs-6"><%= notification.disease.name %></td>
          <td><%= link_to 'Show', notification %></td>
          <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
          <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Notification', new_notification_path %>
<script type="text/javascript">
  $("tr[data-link]").click(function() {
    window.location = this.dataset.link
  });
</script>