<%= form_tag notifications_predict_path, method: :post do  %>

  <div class="field">
    <%= label_tag 'อายุ (วัน)' %><br>
	  <%= number_field_tag :age %><br>
  </div>

  <div class="field">
    <%= label_tag 'ภาค' %><br>
	  <%= collection_select :notification, :region_name, @regions, :name, :name %><br>
  </div>

  <div class="field">
    <%= label_tag 'นานิเวศน์' %><br>
	  <%= collection_select :notification, :ecology_name, @ecologies, :name, :name %><br>
  </div>

  <div class="field">
    <%= label_tag 'ลักษณะพื้นที่' %><br>
	  <%= collection_select :notification, :area_type_name, @area_types, :name, :name %><br>
  </div>

  <div class="field">
    <%= label_tag 'วิธีการปลูก' %><br>
	  <%= collection_select :notification, :plantation_name , @plantations, :name, :name %><br>
  </div>

  <div class="field">
    <%= label_tag 'ลักษณะดิน' %><br>
	  <%= collection_select :notification, :soil_type_name , @soil_types, :name, :name %><br>
  </div>

  <div class="field">
    <%= label_tag 'ปริมาณ ไนโตรเจน (kg.N/rai)' %><br>
    <%= number_field_tag :nitrogen %><br>
  </div>

  <div class="field">
    <%= label_tag 'ปริมาณ ฟอสฟอรัส (g.P/kg)' %><br>
	  <%= number_field_tag :phosphoru %><br>
  </div>

  <div class="field">
    <%= label_tag 'ปริมาณ โพแทสเซียม (g.K/kg)' %><br>
	  <%= number_field_tag :potassium %><br>
  </div>

  <div class="field">
    <%= label_tag 'อุณหภูมิ (ํC)' %><br>
	  <%= number_field_tag :temperature %><br>
  </div>

  <div class="field">
    <%= label_tag 'ปริมาณฝน (mm)' %><br>
	  <%= number_field_tag :rain %><br>
  </div>

  <div class="field">
    <%= label_tag 'ความเร็วลม (km/hr)' %><br>
	  <%= number_field_tag :wind %><br>
  </div>

  <div class="field">
    <%= label_tag 'ความชื้นสัมพัทธ์ในอากาศ (%)' %><br>
	  <%= number_field_tag :air_moisture %><br>
  </div>

  <div class="field">
    <%= label_tag 'ความชื้นสัมพัทธ์ในดิน (%)' %><br>
	  <%= number_field_tag :soil_moisture %><br>
  </div>

  <div class="actions">
    <%= submit_tag "ทำนายโอกาสเกิดโรค" %>
  </div>
<% end %>