<p id="notice"><%= notice %></p>

<h1>Listing Area Type Certainty Factors</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Area type</th>
      <th>Cf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area_type_certainty_factors.each do |area_type_certainty_factor| %>
      <tr>
        <td><%= area_type_certainty_factor.disease %></td>
        <td><%= area_type_certainty_factor.area_type %></td>
        <td><%= area_type_certainty_factor.cf %></td>
        <td><%= link_to 'Show', area_type_certainty_factor %></td>
        <td><%= link_to 'Edit', edit_area_type_certainty_factor_path(area_type_certainty_factor) %></td>
        <td><%= link_to 'Destroy', area_type_certainty_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area type certainty factor', new_area_type_certainty_factor_path %>
