<p id="notice"><%= notice %></p>

<p>
  <strong>Disease:</strong>
  <%= @area_type_certainty_factor.disease %>
</p>

<p>
  <strong>Area type:</strong>
  <%= @area_type_certainty_factor.area_type %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @area_type_certainty_factor.cf %>
</p>

<%= link_to 'Edit', edit_area_type_certainty_factor_path(@area_type_certainty_factor) %> |
<%= link_to 'Back', area_type_certainty_factors_path %>
