<p id="notice"><%= notice %></p>

<h1>Listing Planations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planations.each do |planation| %>
      <tr>
        <td><%= planation.name %></td>
        <td><%= link_to 'Show', planation %></td>
        <td><%= link_to 'Edit', edit_planation_path(planation) %></td>
        <td><%= link_to 'Destroy', planation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planation', new_planation_path %>
