<p id="notice"><%= notice %></p>

<h1>Listing Area Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area_types.each do |area_type| %>
      <tr>
        <td><%= area_type.name %></td>
        <td><%= link_to 'Show', area_type %></td>
        <td><%= link_to 'Edit', edit_area_type_path(area_type) %></td>
        <td><%= link_to 'Destroy', area_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area type', new_area_type_path %>
