<%= form_for(@nitrogen) do |f| %>
  <% if @nitrogen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nitrogen.errors.count, "error") %> prohibited this nitrogen from being saved:</h2>

      <ul>
      <% @nitrogen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= f.label :min %><br>
    <%= f.text_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.text_field :max %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br>
    <%= f.collection_select(:stage_id, Stage.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :disease_id %><br>
    <%= f.text_field :disease_id %>
  </div>
  <div class="field">
    <%= f.label :cf %><br>
    <%= f.text_field :cf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
