<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @nitrogen.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @nitrogen.max %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @nitrogen.stage %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @nitrogen.disease %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @nitrogen.cf %>
</p>

<%= link_to 'Edit', edit_nitrogen_path(@nitrogen) %> |
<%= link_to 'Back', nitrogens_path %>
