<%= form_for(@cultivated_area) do |f| %>
  <% if @cultivated_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cultivated_area.errors.count, "error") %> prohibited this cultivated_area from being saved:</h2>

      <ul>
      <% @cultivated_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :plantation_id %><br>
    <%= collection_select :cultivated_area, :plantation_id, @plantations, :id, :name %><br>
  </div>
  <div class="field">
    <%= f.label :plantation_date %><br>
    <%= f.date_select :plantation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
