<p id="notice"><%= notice %></p>

<div>
  <h1>
    พื้นที่ <%= @cultivated_area.name %>
  </h1>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <strong>ละติจูด</strong>
        </td>
        <td>
          <%= @cultivated_area.latitude %>
        </td>
      </tr>

      <tr>
        <td>
          <strong>ลองติจูด</strong>
        </td>
        <td>
          <%= @cultivated_area.longitude %>
        </td>
      </tr>

      <tr>
        <td>
          <strong>วิธีการเพาะปลูก</strong>
        </td>
        <td>
          <%= @cultivated_area.plantation.name %>
        </td>
      </tr>

      <tr>
        <td>
          <strong>วันที่เริ่มเพาะปลูก</strong>
        </td>
        <td>
          <%= @cultivated_area.plantation_date %>
        </td>
      </tr>

    </tbody>
  </table>
  <%= link_to 'แก้ไข', edit_cultivated_area_path(@cultivated_area), class: "btn btn-primary btn-lg glyphicon glyphicon-pencil pull-right" %>
</div>
