<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cultivated_area.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cultivated_area.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cultivated_area.longitude %>
</p>

<p>
  <strong>Plantation:</strong>
  <%= @cultivated_area.plantation %>
</p>

<p>
  <strong>Plantation date:</strong>
  <%= @cultivated_area.plantation_date %>
</p>

<%= link_to 'Edit', edit_cultivated_area_path(@cultivated_area) %> |
<%= link_to 'Back', cultivated_areas_path %>
