
<div class="login-wrapper">
  <div class="login-container">
    <h2 class="login-component">เข้าสู่ระบบ</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username ,class: "login-component"%><br />
        <%= f.text_field :username, autofocus: true, class: "login-component form-control" %>
      </div>
   
      <div class="field">
        <%= f.label :password, class: "login-component" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "login-component form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, class: "login-component" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "login-component" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>