<!DOCTYPE html>
<html>
<head>
  <title>Agro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <nav class="navbar navbar-default nav-color" role="navigation">
	  
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	      <span class="sr-only">Toggle navigation</span>
	    </button>
	    <a class="navbar-brand" href="..">AGRO</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav">
			<li id="contents">
				<%= link_to "ข่าว", contents_path %>
			</li>
			<li id="notifications">
				<%= link_to "แจ้งเตือน", notifications_path %>
			</li>
			<li id="cultivated_areas">
				<%= link_to "พื้นที่", cultivated_areas_path %>
			</li>
		  	<li id="user">
		  		<%= link_to "ประวัติ", edit_user_registration_path(current_user) %>
		  	</li>
	    </ul>
	    <form class="navbar-form navbar-right" action="#" role="search">
	      <div class="form-group">
	        <div class="input-group">
	          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
	          <span class="input-group-btn">
	            <button type="submit" class="btn"><span class="fui-search"></span></button>
	          </span>
	        </div>
	        
	      </div>

	    </form>
	    <ul class="nav navbar-nav navbar-right">
	      <li>
	        <% unless current_user %>
    			<%= link_to ' เข้าสู่ระบบ', new_user_session_path, class: "glyphicon glyphicon-user nav-li" %>
  			<% else %>
    			<%= link_to ' ออกจากระบบ', destroy_user_session_path,class: "glyphicon glyphicon-user nav-li" ,:method => :delete %>
  			<% end %>
  		  </li>
			</ul>
	  </div>
	</nav><!-- /navbar -->
	<div class="container">
    	<div class="row " >
		 	<div class="col-md-12 logo">
			  	<center>
			  		<div class="name-web">
				    	 <%= image_tag "agro-color.png",width:"300px",height:"300px" %> 
				    </div>
				</center>
			</div>
	    </div>
	    <div class="row" >
		  	<center>
		  		<%= yield %>
		  	</center>
	    </div>
	</div>
	<div class="push"></div>
</body>
<footer class="footer">
  <div class="container"><br>
    <p class="text-muted">footer</p>
  </div>
</footer>
</html>