<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @potassium.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @potassium.max %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @potassium.stage %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @potassium.disease %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @potassium.cf %>
</p>

<%= link_to 'Edit', edit_potassium_path(@potassium) %> |
<%= link_to 'Back', potassia_path %>
